<div xmlns:th="http://www.thymeleaf.org">
    <div th:fragment="header">
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
        <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
        <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
        <title th:text="${title}"></title>

        <!-- Favicon -->
        <link rel='shortcut icon' type='image/x-icon' th:href="@{/img/favicon.ico}" />

        <!-- Bootswatch Darkly -->
        <!--<link rel="stylesheet" th:href="@{/webjars/bootswatch-darkly/3.3.5+4/css/bootstrap.min.css}"/>-->

        <!-- Bootstrap -->
        <link rel="stylesheet" th:href="@{/webjars/bootstrap/4.0.0-alpha.2/css/bootstrap.min.css}"/>

        <!-- My Bootstrap Style -->
        <link th:href="@{/css/myBootstrapStyle.css}" rel="stylesheet"/>

        <!-- My Stylesheet -->
        <link th:href="@{/css/myStyle.css}" rel="stylesheet"/>

        <!-- Font Awesome -->
        <link type="text/css" rel="stylesheet" th:href="@{/webjars/font-awesome/4.5.0/css/font-awesome.min.css}"/>
    </div>
</div>