<div xmlns:th="http://www.thymeleaf.org">
    <!-- Normal Page Footer -->
    <div th:fragment="pageFooter">
        <div class="vpoffset4"></div>
        <footer class="page-footer">
            <nav class="navbar navbar-full" style="background:rgba(0,0,0,0.7);">
                <div class="container">
                    <div class="row">
                        <div class="col-xs-4">
                            <p class="text-xs-center"><a href="https://github.com/dszopa" class="text-white"><i class="fa fa-github fa-lg"></i> Github</a></p>
                        </div>
                        <div class="col-xs-4">
                            <p class="text-xs-center"><a th:href="@{/projects/}" class="text-white"><i class="fa fa-file-text fa-lg"></i> Projects</a></p>
                        </div>
                        <div class="col-xs-4">
                            <p class="text-xs-center"><a href="mailto:dszopa@iastate.edu" class="text-white"><i class="fa fa-envelope fa-lg"></i> Email</a></p>
                        </div>
                    </div>
                </div>
            </nav>
        </footer>
        <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
        <script type="text/javascript" rel="script" th:src="@{/webjars/jquery/2.2.4/jquery.min.js}"></script>
        <!-- Bootstrap Javascript -->
        <script th:src="@{/webjars/bootstrap/4.0.0-alpha.2/js/bootstrap.min.js}" integrity="sha384-vZ2WRJMwsjRMW/8U7i6PWi6AlO1L79snBrmgiDpgIWJ82z8eA5lenwvxbMV1PAh7" crossorigin="anonymous"></script>
    </div>

    <!-- Homepage Footer -->
    <div th:fragment="homepageFooter">
        <footer class="page-footer">
            <nav class="navbar navbar-full" style="background:rgba(0,0,0,0.7);">
                <div class="container">
                    <div class="row">
                        <div class="col-xs-2"></div>
                        <div class="col-xs-4">
                            <p class="text-xs-center"><a href="https://github.com/dszopa" class="text-white"><i class="fa fa-github fa-lg"></i> Github</a></p>
                        </div>
                        <div class="col-xs-4">
                            <p class="text-xs-center"><a href="mailto:dszopa@iastate.edu" class="text-white"><i class="fa fa-envelope fa-lg"></i> Email</a></p>
                        </div>
                    </div>
                </div>
            </nav>
        </footer>
        <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
        <script type="text/javascript" rel="script" th:src="@{/webjars/jquery/2.2.4/jquery.min.js}"></script>
        <!-- Bootstrap Javascript -->
        <script th:src="@{/webjars/bootstrap/4.0.0-alpha.2/js/bootstrap.min.js}" integrity="sha384-vZ2WRJMwsjRMW/8U7i6PWi6AlO1L79snBrmgiDpgIWJ82z8eA5lenwvxbMV1PAh7" crossorigin="anonymous"></script>
    </div>

    <!-- No Footer -->
    <div th:fragment="noFooter">
        <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
        <script type="text/javascript" rel="script" th:src="@{/webjars/jquery/2.2.4/jquery.min.js}"></script>
        <!-- Bootstrap Javascript -->
        <script th:src="@{/webjars/bootstrap/4.0.0-alpha.2/js/bootstrap.min.js}" integrity="sha384-vZ2WRJMwsjRMW/8U7i6PWi6AlO1L79snBrmgiDpgIWJ82z8eA5lenwvxbMV1PAh7" crossorigin="anonymous"></script>
    </div>
</div>