<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:include="fragments/header :: header" th:with="title=${'About | Daniel Szopa'}">
</head>
<!-- Page Content goes here -->
<body id="homepageBody">
<div class="container-fluid">
    <div class="row voffset9">
        <div class="jumbotron" style="background:rgba(0,0,0,0.7);">
            <h1>Hi, I'm Daniel Szopa!</h1>
            <div class="container">
                <p>I am a Sophomore Computer Science Major at Iowa State University. I currently work for
                    the University's ITS department where I am creating Web Applications with the
                    <a class="text-warning" href="http://spring.io/">Spring Framework.</a> In my free time I often work on personal projects that you can find on my
                    <a class="text-warning" href="https://github.com/dszopa">Github</a> or <a class="text-warning" href="https://bitbucket.org/dszopa/">Bitbucket.</a>
                </p>
            </div>
        </div>
    </div>
</div>
<div th:include="fragments/pageFooter :: homepageFooter"></div>
</body>
</html>
