<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:include="fragments/header :: header" th:with="title=${'About | Daniel Szopa'}">
</head>
<body id="homepageBody">
<div class="container-fluid transparentBlackBg">
    <div class="row">
        <div class="container">
            <div class="row vmoffset5"></div>
            <div class="row">
                <div class="jumbotron transparentBg">
                    <h1 class="text-orange">Hi, I'm Daniel Szopa!</h1>
                    <p class="text-white"><strong>I am a Junior Computer Science Major at Iowa State University. I currently work for
                        the University's ITS department where I am creating Web Applications with the
                        <a class="text-orange" href="http://spring.io/">Spring Framework,</a> and also maintaining
                        our academic system that is almost entirely written in
                        <a class="text-orange" href="https://en.wikipedia.org/wiki/COBOL">COBOL.</a>
                        In my free time I often work on personal projects that you can find on my
                        <a class="text-orange" href="https://github.com/dszopa">Github</a> or
                        <a class="text-orange" href="https://bitbucket.org/dszopa/">Bitbucket.</a></strong>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
<div th:include="fragments/pageFooter :: homepageFooter"></div>
</body>
</html>
