<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:include="fragments/header :: header" th:with="title=${'Tournament Split Calculator'}">
</head>
<body>
<div th:include="fragments/pageHeader :: pageHeader"></div>

<div class="container vmoffset3">
    <div class="row">
        <div class="col-xs-12">
            <h2>Tournament Split Calculator</h2>
        </div>
    </div>
    <div class="row">
        <form id="calculateForm" class="voffset4">
            <div class="col-xs-6">
                <div class="input-group">
              <span class="input-group-btn">
                <button class="btn btn-primary">Calculate</button>
              </span>
                    <input id="entrants" type="text" class="form-control" placeholder="How many entrants?"/>
                </div>
            </div>
            <div class="col-xs-6" style="padding-left: 0;">
                <div class="input-group">
                    <span class="input-group-addon">$</span>
                    <input id="amount" type="text" class="form-control" placeholder="Entry Fee"/>
              <span class="input-group-btn">
              </span>
                </div>
            </div>
        </form>
    </div>
    <div class="row" style="padding-top: 20px;">
        <div class="col-xs-12">
            <ul id="list" style="list-style: none;"></ul>
        </div>
    </div>
</div>

<div th:include="fragments/pageFooter :: pageFooter"></div>
<script>
    //<![CDATA[
    $('#calculateForm').submit(function() {
        var entrants = $('#entrants').val();
        var amount = $('#amount').val();
        var total = amount*entrants;

        if(isNaN(total)){
            alert("Please Enter Numbers");
        }
        else if(entrants >= 0 && entrants < 25) {
            $("#list").empty()
                    .append("<li>Total: $" + total +"</li>")
                    .append("<hr/>")
                    .append("<li>1st Place: $" + Math.floor(total*0.6)+"</li>")
                    .append("<li>2nd Place: $" + Math.floor(total*0.3)+"</li>")
                    .append("<li>3rd Place: $" + Math.floor(total*0.1)+"</li>");
        }
        else if(entrants >= 25 && entrants < 45) {
            $("#list").empty()
                    .append("<li>Total: $" + total +"</li>")
                    .append("<hr/>")
                    .append("<li>1st Place: $" + Math.floor(total*0.5)+"</li>")
                    .append("<li>2nd Place: $" + Math.floor(total*0.25)+"</li>")
                    .append("<li>3rd Place: $" + Math.floor(total*0.15)+"</li>")
                    .append("<li>4th Place: $" + Math.floor(total*0.1)+"</li>");
        }
        else if(entrants >= 45 && entrants < 60) {
            $("#list").empty()
                    .append("<li>Total: $" + total +"</li>")
                    .append("<hr/>")
                    .append("<li>1st Place: $" + Math.floor(total*0.4)+"</li>")
                    .append("<li>2nd Place: $" + Math.floor(total*0.25)+"</li>")
                    .append("<li>4th Place: $" + Math.floor(total*0.1)+"</li>")
                    .append("<li>5th Place: $" + Math.floor(total*0.05)+"</li>")
                    .append("<li>5th Place: $" + Math.floor(total*0.05)+"</li>");
        }
        else {//entrants >= 60
            $("#list").empty()
                    .append("<li>Total: $" + total +"</li>")
                    .append("<hr/>")
                    .append("<li>1st Place: $" + Math.floor(total*0.4)+"</li>")
                    .append("<li>2nd Place: $" + Math.floor(total*0.25)+"</li>")
                    .append("<li>3rd Place: $" + Math.floor(total*0.15)+"</li>")
                    .append("<li>4th Place: $" + Math.floor(total*0.1)+"</li>")
                    .append("<li>5th Place: $" + Math.floor(total*0.035)+"</li>")
                    .append("<li>5th Place: $" + Math.floor(total*0.035)+"</li>")
                    .append("<li>7th Place: $" + Math.floor(total*0.015)+"</li>")
                    .append("<li>7th Place: $" + Math.floor(total*0.015)+"</li>");
        }

        return false;
    });
    //]]>
</script>
</body>
</html>